<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
	<add key="Universitys" value="C:\Users\Nikol\OneDrive\Рабочий стол\Практика\День20\Day20\Task1\bin\Debug\net8.0-windows\Universitys.json"/>
	<add key="Addresses" value="C:\Users\Nikol\OneDrive\Рабочий стол\Практика\День20\Day20\Task1\bin\Debug\net8.0-windows\Addresses.json"/>
		<add key="WorkPlaces" value="C:\Users\Nikol\OneDrive\Рабочий стол\Практика\День20\Day20\Task1\bin\Debug\net8.0-windows\WorkPlaces.json"/>
	</appSettings>
</configuration>